# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Quarto
.quarto/
*_cache/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/
*~
*.swp
*.swo

# Operating system
.DS_Store
Thumbs.db

# LibreOffice temporary files
.~lock.*

# Temporary files
*.tmp
*.temp
